main {
  max-width: 50rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

main {
  max-width: 50rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #0f172a, #020617);
  color: #e5e7eb;
}
